* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* Variables */
:root {
  --main-color: #090797;
  --main-light-color: #2063c9;
  --container-color: #f8f7fc;
  --text-color: #1a1d22;
  --bg-color: #fff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background: #474040;
}
html::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--text-color);
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
section {
  padding: 4rem 0 2rem;
}
.container {
  max-width: 938px;
  margin: auto;
}
header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header.shadow {
  background: var(--bg-color);
  box-shadow: 2px 2px 4px rgb(15 54 55 / 10%);
  transition: 0.2s;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo img {
  width: 70px;
}
.navbar {
  display: flex;
  column-gap: 2rem;
}
.navbar a {
  position: relative;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}
.navbar a:hover,
.navbar .active {
  color: var(--main-color);
}
.nav-icons {
  display: flex;
  column-gap: 1rem;
}
.nav-icons .bx {
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
}
.nav-icons .bx:hover {
  color: var(--main-color);
}
#menu-icon {
  display: none;
}
.cart {
  position: relative;
}
.cart span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -8px;
  font-size: 0.6rem;
  height: 15px;
  width: 15px;
  background: var(--main-color);
  border-radius: 50%;
  padding: 4px;
  color: var(--bg-color);
}

.home {
  max-width: 1800px;
  margin: auto;
  min-height: 850px;
  display: flex;
  align-items: center;
  background: var(--container-color);
}
.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.home-text h1 {
  font-size: 2.4rem;
}
.home-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}
.btn {
  padding: 13px 26px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--main-light-color);
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  border-bottom: 3px solid var(--main-color);
}
.upload-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  gap: 1.5rem;
}
.upload-container .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 2px 4px rgb(15 54 55 / 10%);
}
.upload-container .box img {
  width: 180px;
  object-fit: contain;
  object-position: center;
}
.upload-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.upload-container .box .text h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.upload-container .box .text a {
  font-size: 0.9rem;
  color: var(--text-color);
}

.footer-box h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-box a,
.footer-box p {
  color: var(--text-color);
  margin-bottom: 10px;
}
.footer-box a:hover {
  color: var(--main-color);
}
.copyright {
  padding: 25px;
  text-align: center;
}

@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
  .home-text h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 0.5rem;
    text-align: left;
    box-shadow: 2px 2px 15px rgb(15 54 55 / 15%);
    transition: 0.3s;
  }
  .navbar a {
    display: block;
    padding: 15px;
  }
  .navbar.active {
    right: 0;
  }
  .home-text h1 {
    font-size: 2rem;
  }
  .heading h2 {
    font-size: 1.4rem;
  }
  
}
@media (max-width: 672px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .home-text {
    order: 2;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  }
  
}
@media (max-width: 360px) {
  .logo img {
    width: 54px;
  }
  .nav-icons .bx {
    font-size: 20px;
  }
  .home-text p br {
    display: contents;
  }
  .heading h2 {
    font-size: 1.2rem;
  }
  .upload-container .box img {
    width: 135px;
  }
 
  .btn {
    padding: 14px 20px;
  }
}
